-# this partial handles one line item in a list of tasks.
-# it is heavy ajax... probably the non-ajax version should be a different partial
 
- alt_status   = task.completed? ? "pending" : "complete"
- task_id      = "task_#{task.id}"
- task_edit_id = "#{task_id}_edit"
- task_edit_form = "#{task_edit_id}_form"
- task_show_id = "#{task_id}_show"
- checkbox_id  = "#{task_id}_check"
- spinner_edit = "#{task_id}-edit"
- spinner_done = "#{task_id}-done"
- details_id   = "#{task_id}_details"
- mark_action  = "mark_task_#{alt_status}"
- edit_action  = "edit_task"
- check_click  = "Element.hide('#{checkbox_id}');" + show_spinner(spinner_done) + remote_function(:url => self.send("#{mark_action}_task_url", @page, :task_id => task.id))
- edit_function = remote_function(:url => self.send("#{edit_action}_task_url", @page, :task_id => task.id))
- edit_click   = "$('#{task_show_id}', '#{task_edit_id}').invoke('toggle');" + "if ($('#{task_edit_form}')==null) {#{edit_function}}"

%li.task{ :id => task_id }
  .actions
    - #link_to_function image_tag('actions/ex.png'), delete_click
    = link_to_function image_tag('actions/edit.png'), edit_click
    %span.handle
      = image_tag 'actions/change-order-small.png'
  .checkbox
    = check_box_tag 'completed', 1, task.completed, :id => checkbox_id, :onclick => check_click
    = spinner(spinner_done)
  %div{ :id => task_show_id }
    = render :partial => 'tool/task_list/task_show', :locals => {:task => task}
  .indent.task_edit{ :style => "display: none", :id => task_edit_id }
    = spinner(spinner_edit, :show => true)
    Loading...
    - # render :partial => 'tool/task_list/task_edit', :locals => {:task => task}
