.column.form-column.first
  - unless message.is_a?(JoinRequest)
    - unless message.is_a?( Invitation ) 
      %p
        = f.label :subject, "Subject:"
        = f.text_field :subject
    - unless message.recipient
      .section
        = render :partial => 'messages/form/recipients', :locals => { :f => f, :users => current_user.contacts }
        -#%p
          = f.label :recipients, "To (usernames separated with commas)"
          ~ f.text_area :recipients, :size => '50x2'
  .section
    %p
      ~ f.textile_editor :body, :size => '50x20', :id => 'message_body'
      = render :partial => 'tool/wiki/formatting_link'

- content_for :javascript do
  = textile_editor_support
- content_for :javascript_onload do
  TextileEditor.initialize("message_body", "extended");
