- content_for :title do
  = icon_for( @person, :size => :medium ) if @person
  %h1 
    Send Message
    = "to #{@person.display_name}"  if @person
  = error_messages_for :message

.new.message.form.with-editor
  - form_for :message, @message, :url => scoped_path( :messages ) do |f|
    %p.submit
      = f.submit "Send"
    = render :partial => 'form', :locals => { :f => f, :message => @message }
    %p.submit
      = f.submit "Send"
