-content_for :title do
  = error_messages_for '', :object => [ profile, profile.notes, @email_addresses, @im_addresses, @locations, @phone_numbers, @web_resources, profile.entity ], :object_name => 'profile'

.with-editor
  .column.form-column.first
    .section
      %h2
        General info
      .row
        %p
          = f.label 'first_name', "First name"
          = f.text_field 'first_name', 'size' => 15, 'maxlength' => 100, 'style' => 'width:100px'
        %p
          = f.label 'middle_name', "Middle "
          = f.text_field 'middle_name', 'size' => 9, 'maxlength' => 100, 'style' => 'width:50px'
        %p
          = f.label 'last_name', "Last"
          = f.text_field 'last_name', 'size' => 15, 'maxlength' => 100, 'style' => 'width:111px'
        %p
          = f.label 'organization', "Organization"
          = f.text_field 'organization', 'size' => 40, 'maxlength' => 100, 'style' => 'width:285px'
        %p
          = f.label 'role', "Organizational role"
          = f.text_field 'role', 'size' => 40, 'maxlength' => 100, 'style' => 'width:285px'

        = render :partial => "profiles/form/list/note", :locals => {:profile => profile, :f => f , :notes => @notes }

  .column.form-column.last
    - fields_for :user, profile.user do |ff|
      .section
        .row.icon-upload
          = icon_for profile.entity
          %p
            = ff.label :image_file, 'Upload new picture'
            = ff.hidden_field :image_file_temp
            %span.comment
              uploaded image will be cropped and stretched to 92 pixels square.
              %br
              max file size 3mbs
            = ff.file_field :image_file, :size => 10 

      = render :partial => "shared/form/issues", :locals => {:f => ff}
      = render :partial => "shared/form/languages", :locals => {:f => ff}

      - ff.fields_for :preferences do |preference_fields|
        .section.preferences
          %h2 Preferences
          %p.preference
            = preference_fields.check_box "subscribe_to_email_list", :checked => profile.entity.preference_for(:subscribe_to_email_list) == "1"
            %label{ :for => "user_preferences_subscribe_to_email_list" }
              Subscribe me to Green Change e-updates
          %p.preference
            = preference_fields.check_box "allow_info_sharing", :checked => profile.entity.preference_for(:allow_info_sharing) == "1"
            %label{ :for => "user_preferences_allow_info_sharing" }
              Share my information with other Green organizations.
          %p.preference
            = ff.check_box "searchable", :checked => profile.entity.searchable
            = ff.label "searchable", "Allow users to find me when searching."

        .section.email-preferences
          %h2 Email Preferences
          %p.preference
            = radio_button_tag "user[preferences][email_notification]", 'none', 'none' == profile.entity.preference_for(:email_notification)
            %label{:for => "user_preferences_email_notification_none"}
              No email
          %p.preference
            = radio_button_tag "user[preferences][email_notification]", 'messages', ('messages' == profile.entity.preference_for(:email_notification) || profile.entity.preference_for(:email_notification).nil?)
            %label{:for => "user_preferences_email_notification_messages"}
              Email when I receive a personal message
          %p.preference
            = radio_button_tag "user[preferences][email_notification]", 'comments', 'comments' == profile.entity.preference_for(:email_notification)
            %label{:for => "user_preferences_email_notification_comments"}
              Email when I receive a personal message or someone comments on something I wrote

      .section.timezone
        %p
          = ff.label :time_zone, "Time zone"
          = ff.time_zone_select :time_zone
      = render :partial => "accounts/form/password", :locals => { :f => ff, :user => profile.entity}

    - %w[ email_address phone_number im_address web_resource location ].each do |section|
      - item_collection = instance_variable_get( "@#{section.pluralize}" );
      = render :partial => "profiles/form/list/#{section}", :locals => {:profile => profile, :f => f , section.pluralize.to_sym => item_collection }


  -# use these options for the default view
  -# locals => { :item_collection => item_collection, :item_type => section.to_sym, :item_collection_type => section.pluralize.to_sym }

- content_for :javascript do
  = jquery_effects
  = javascript_include_tag 'forms'
- load_ajax_form_behaviors
- content_for :javascript_onload do
  jQ$('#content form :text').eq(0).focus();
  Crabgrass.Forms.submit_from_menu();
