.section.menu.context
  .menu
    - unless this_is_the_landing_page = ( controller.action_name =='show' )
      .info
        = link_to me.name, me_url, html_options_for_icon_for( me, :size => :small, :class => 'home')
      .clear
    .pages
      %ul.tabset
        %li.tab
          = link_to 'Your Contacts', me_people_url, selected_if( request.url == me_people_url)
        %li.tab
          = link_to 'Your Inbox', me_inbox_url, selected_if( request.url == me_inbox_url)
          
        %li.tab
          = link_to 'Your Content', me_pages_url, selected_if( request.url == me_pages_url)
      %ul.tabset
        %li.tab
          = link_to 'Your Network', me_network_url, selected_if( request.url == me_network_url)
        %li.tab
          = link_to 'Your Events', me_events_url, selected_if( request.url == me_events_url)
        %li.tab
          = link_to 'Your Profile', me_profile_url, selected_if( request.url == me_profile_url)

