= error_messages_for '', :object => [ profile, profile.notes, @email_addresses, @im_addresses, @locations, @phone_numbers, @websites ], :object_name => 'profile'
.section
  %h2
    General Info
  .row
    %p
      = f.text_field 'first_name', 'size' => 15, 'maxlength' => 100, 'style' => 'width:100px'
      = f.label 'first_name', "first name"
    %p
      = f.text_field 'middle_name', 'size' => 9, 'maxlength' => 100, 'style' => 'width:50px'
      = f.label 'middle_name', "middle "
    %p
      = f.text_field 'last_name', 'size' => 15, 'maxlength' => 100, 'style' => 'width:111px'
      = f.label 'last_name', "last"
  .row
    %p
      = f.text_field 'organization', 'size' => 40, 'maxlength' => 100, 'style' => 'width:285px'
      = f.label 'organization', "organization"
  .row
    %p
      = f.text_field 'role', 'size' => 40, 'maxlength' => 100, 'style' => 'width:285px'
      = f.label 'role', "organizational role"

- %w[ email_address phone_number im_address note ].each do |section|
  - item_collection = instance_variable_get( "@#{section.pluralize}" );
  = render :partial => "me/profiles/sections/list/#{section}", :locals => {:profile => profile, :f => f , section.pluralize.to_sym => item_collection }
  -# use these options for the default view
  -# locals => { :item_collection => item_collection, :item_type => section.to_sym, :item_collection_type => section.pluralize.to_sym }

- load_ajax_form_behaviors
