.section.menu.context
  .menu
    - unless this_is_the_landing_page = ( controller.action_name =='show' )
      .info
        = link_to person.name, person_path(person), html_options_for_icon_for( person, :size => :small, :class => 'home')    
      .clear
    .pages
      .padding-tabset
        %ul.tabset
          %li.tab
            = link_to 'Contacts', person_contacts_path(@person), selected_if( request.path == person_contacts_path(@person))
          %li.tab
            = link_to 'Blogs &amp; News', person_updates_path(@person), selected_if( params[:page_type] == 'updates' )
          %li.tab
            = link_to 'Action Alerts', person_actions_path(@person), selected_if( params[:page_type] == 'actions' )
          %li.tab
            = link_to 'Events', person_events_path(@person), selected_if( params[:page_type] == 'events' )

      .padding-tabset
        %ul.tabset
          %li.tab
            = link_to 'Groups', person_groups_path(@person), selected_if( request.path == person_groups_path(@person))
          %li.tab
            = link_to 'Media', person_media_path(@person), selected_if( params[:page_type] == 'media' )
          %li.tab
            = link_to 'Discussions', person_tools_path(@person), selected_if( params[:page_type] == 'tools' )
          %li.tab
            = link_to 'Bookmarks', person_bookmarks_path(@person), selected_if( controller.controller_name == 'bookmarks' )
