- content_for :title do
  %h1
    - if scoped_by_context?
      - if scoped_by_context? == current_user
        Your contacts
      - elsif @issue
        People concerned about
        = scoped_by_context?.display_name.downcase
      - elsif @group
        Members of 
        = scoped_by_context?.display_name 
      - else
        People connected to 
        = scoped_by_context?.display_name 
    - else
      Everyone 
- unless scoped_by_context?
  .section.search
    -form_tag('', :method => :get) do 
      =text_field_tag :query, h( params[:query])
      =submit_tag 'Search People'
.section
  .icon-box
    = will_paginate(@people, :params => scoped_pagination_params )
    =render :partial => 'shared/list/person_large', :collection => @people
  .clear
    = will_paginate(@people, :params => scoped_pagination_params )
