- content_for :title do
  = render :partial => 'title_menu', :locals => { :person => @person }
  = icon_for( @person, :size=> 'large')
  %h1
    = @person.name
  .section.info
    .section
      =render :partial => 'profile', :locals => { :profile => @person.profile_for( current_user ) }
    .issues.icon-only
      = render :partial => 'shared/icons/issue', :collection => @person.issues


.section
  = render :partial => 'pages/shared/main', :locals => {:source => @person }


