- content_for :title do
  .toolbar.title-menu
    = render :partial => 'menu', :locals => { :person => @person }
  = icon_for( @person, :size=> 'large')
  %h1
    = @person.display_name
  .section.info
    =render :partial => 'profile', :locals => { :profile => @person.profile_for( current_user ) }
    -unless @person.issues.empty?
      .issues.icon-only.clear
        %label Issues:
        = render :partial => 'shared/icons/issue', :collection => @person.issues


.content-list.main
  .section
    = render :partial => 'pages/shared/main', :locals => {:source => @person }
