- content_for :title do
  = icon_for( @issue, :size => 'large' )
- content_for :title do
  %h1
    = @issue.name
  -#= render :partial => 'title_menu', :locals => { :issue => @issue }
  .section.info
    = render :partial => 'info', :locals => { :issue => @issue }

.content-list
  .section.promo
    = render :partial => 'pages/shared/promo',  :locals => { :source => @issue }
  .section
    = render :partial => 'pages/shared/main',   :locals => { :source => @issue }
