- color = cycle( 'shade-odd', 'shade-even')
%tbody.message-block{ :class => color }
  %tr.row.message-meta{:class => ( invitation.try(:unread?) ? 'unread' : '' ) }
    %td.page_icon
      = link_to ' ', message_path(invitation), html_options_for_icon_for(invitation.sender, :size => :small )
    %td.title
      - if invitation.group?
        = link_to "Invitation to join #{invitation.group.display_name}", group_path(invitation.group)
      - elsif invitation.event?
        = link_to "Invitation to attend #{invitation.event.display_name}", event_path(invitation.event.page)
      - elsif invitation.contact?
        = link_to "Contact Invitation from #{invitation.contact.display_name}", person_path(invitation.contact)

    %td.view-indicator-stub
    %td.from
      = link_to invitation.sender.display_name, person_path( invitation.sender )
    %td.arrived
      = friendly_date( invitation.created_at )
    %td.toolbar.list-menu
      .icon
        = button_to "Accept", accept_invitation_path(invitation), :method => :put, :class => 'add action', :title => 'Accept'
      .icon
        = button_to "Ignore", ignore_invitation_path(invitation), :method => :put, :class => 'ignore action', :title => 'Ignore'

  %tr.row.message-body
    %td
      .toolbar.list-menu
        .icon
          = link_to "View", message_url(invitation), :class => 'action view', :title => 'View separately'
    %td.message{:colspan => 4}
      - if invitation.body
        = GreenCloth.new(invitation.body).to_html
      - else
        No message attached
    %td

