- color = cycle( 'shade-odd', 'shade-even')
%tr.row{:class => ( item.try(:unread?) ? 'unread' : '' ) + color }
  %td.page_icon
    = link_to ' ', tool_pages_url(item), html_options_for_icon_for(item, :size => :small )
  %td.title
    = link_to item.title, message_url(item)
  %td.from
    = link_to item.updated_by.login, person_path( item.updated_by )
  %td.arrived
    = friendly_date( item.updated_at )
  %td.toolbar
    .icon
      = button_to "Delete", 'me_inbox_message_path(item)', :method => :delete, :class => 'delete action'
