- color = cycle( 'shade-odd', 'shade-even')
- item = message
%li.message-block{ :class => color }
  .message-meta-block{:class => ( item.try(:unread?) ? 'unread' : '' ) }
    .page-icon
      = link_to ' ', person_path(item.sender), html_options_for_icon_for(item.sender, :size => :small )
    .message-meta
      .subject{ :title => "Subject" }
        %h3
          - if item.subject?
            = item.subject

          - if item.requestable_id?
            - if item.group?
              Join Request for
              = link_to item.group.display_name, group_path(item.group)

          = render( :partial => 'invitations/subject', :locals => { :item => item } ) if item.invitable_id?
      .byline
        .sender{ :title => "Sender" }
          From:
          = link_to item.sender.display_name, person_path( item.sender )
        .received{ :title => "Received" }
          Received:
          = friendly_date( item.created_at )

    - unless item.sender == current_user
      .toolbar.list-menu.inline
        = render :partial => 'messages/menu', :locals => { :item => item }

  .message-body
    .message
      - if item.body?
        .message-outline
          = GreenCloth.new(item.body).to_html
      - else
        .empty
          No message attached.

