- item = request
- color = cycle( 'shade-odd', 'shade-even')
%tbody.message-block{ :class => color }
  %tr.row.message-meta{:class => ( item.try(:unread?) ? 'unread' : '' )  }
    %td.page_icon
      = link_to ' ', person_url(item.user), html_options_for_icon_for(item.user, :size => :small )
    %td.title
      = item.invitation? ? "Membership Invitation" : item.class.name.underscore.humanize 
      = 'from ' + item.sender.login
      -#= "for #{item.group.name}" if item.group
    %td.view-indicator-stub
    %td.from
      = link_to item.sender.login, person_path( item.sender )
    %td.arrived
      = friendly_date( item.updated_at )
    %td.toolbar
      - if item.is_a? MembershipRequest and item.invitation?
        .icon
          = button_to "Accept",  accept_group_membership_path(item.group, item), :method => :put, :class => 'add action',:title => 'Accept'
        .icon
          = button_to "Refuse",     refuse_group_membership_path(item.group, item), :method => :delete, :class => 'delete action', :title => 'Refuse'
      - elsif item.is_a? MembershipRequest 
        .icon
          = button_to "Approve",  approve_group_membership_path(item.group, item), :method => :put, :class => 'add action',:title => 'Approve'
        .icon
          = button_to "Deny",     reject_group_membership_path(item.group, item), :method => :delete, :class => 'delete action', :title => 'Deny'
        .icon
          = link_to   "Discuss",  new_group_discussion_path( item.group, :title => "membership request from #{item.user.login}", :privacy => { :view => { :admin => true, :member => false } }), :class => 'discuss action', :title => 'Discuss this request'
      - elsif item.is_a? ContactRequest
        .icon
          = button_to "Approve",  approve_me_contact_path(item), :method => :post, :class => 'add action', :title => 'Approve'
        .icon
          = button_to "Deny",     reject_me_contact_path(item), :method => :post, :class => 'delete action', :title => 'Deny this request'

  %tr.row.message-body
    %td
    %td.message{:colspan => 4}
      = GreenCloth.new(item.message).to_html if item.message
    %td
