.section{ :class => item_type.to_s.pluralize }
  %h2
    = item_type.to_s.pluralize.titleize
  .behavior-block.list
    - for item in item_collection
      = render :partial => item_type.to_s, :locals => { item_type => item, :f => f }
    = render :partial => item_type.to_s, :locals => { item_type => profile.send( item_collection_type ).build, :f => f }
    .toolbar
      = link_to "Add #{item_type.to_s.titleize}", send( "new_me_profile_#{item_type}_path"), :class => 'remote new action'
