-# item
-# item_type
-# item_type_field
-# item_types_collection
-# item_type_label
- item_type_label ||= item_type.to_s.titleize
- item_type_field ||= "#{item_type}_type".to_sym
- fields_target = item.new_record? ? "#{item_type.to_s.pluralize}[new][]" : item_type.to_s.pluralize.to_sym
- fields_for fields_target, item do |ff|
  - index = item.try(:id) || ''
  .row
    -#%p
      -#= ff.check_box :preferred, { :index => index, :class => 'behavior-radio'}, 1
    %p
      = ff.select item_type_field, item_types_collection, {}, :index => index
    %p
      = ff.text_field item_type, :size => 20, :maxlength => 100, :index => index 
      = ff.label "#{index}_#{item_type}", item_type_label
    - unless item.new_record?
      .toolbar
        .icon
          = button_to 'Delete', send( "profile_#{item_type}_path", profile, item), :method => :delete , :class => 'remote confirm delete action', :remote_url => send( "formatted_profile_#{item_type}_path", profile, item, :xml )


