- if source.pages.allowed(current_user).page_type(:media) and extended_sidebar?
  %ul.tab-block
    = render :partial => context_path('pages_toolbar'), :locals => { :source => source }

    %li
      .tab-title
        Photos
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => source.pages.allowed(current_user).page_type(:image)
    %li
      .tab-title
        Video
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => source.pages.allowed(current_user).page_type(:video) 
    %li
      .tab-title
        Audio
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => source.pages.allowed(current_user).page_type(:audio) 
    %li
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => source.pages.allowed(current_user).page_type(:asset) 

  - load_javascript_tabs
