%li.list-item.page{ :class => cycle( 'shade-odd', 'shade-even', :name => 'activity_entry_cycle' )}
  = render :partial => 'pages/list/list_menu', :locals => { :page => page }
  .list-thumb
    = link_to icon_for(page), page_url(page)
  .list-description
    -#.icon.source
      = link_to icon_for(page.created_by, :size=>'small' ), person_url(page.created_by)
      = link_to icon_for(page.group, :size=>'small'), group_url(page.group)
    %h3
      = link_to page.title, page_url(page) 
    %p.blurb
      = page.summary
    .byline
      .name
        %label.name
          By: 
        = link_to page.created_by.login, person_url(page.created_by), :class =>'name'
        .date
          = friendly_date(page.created_at)
        - if page.discussion and !page.discussion.posts.empty?
          .comments
            = page.discussion.posts.count
            comments
      - if page.stars
        .stars-count{ :class => ( logged_in? and page.starred_by?(current_user) ? 'promoted' : '') }
          = "( #{page.stars.count} )"
      - unless page.tags.empty?
        -#%br
        .date
          %label
            Tags:
          = render :partial => 'shared/tag', :collection => page.tags.uniq
    - unless page.issues.empty?
      .clear 
      .issues.icon-only
        %label
          Issues:
        = render :partial => 'shared/icons/issue', :collection => page.issues
