%li.list-item.page{ :class => cycle( 'shade-odd', 'shade-even', :name => 'activity_entry_cycle' )}
  .list-thumb
    = link_to icon_for(page), page_url(page)#, :class => 'icon'
  .icon
    = icon_for(page.created_by, :size=>'small' )
    = icon_for(page.group, :size=>'small')
  .list-description
    %h3
      = link_to page.title, page_url(page) 
    %p.blurb
      = page.summary
    - if page.created_by
      .byline
        %label.name
          By:
        = link_to page.created_by.login, person_url(page.created_by), :class =>'name'
        %label.date
          Posted:
        = friendly_date(page.created_at)
    - unless page.tags.empty?
      .tags
        %label
          Tags:
        = render :partial => 'shared/tag', :collection => page.tags
    - if page.discussion and !page.discussion.posts.empty?
      .comments
        = page.discussion.posts.count
        comments
    - unless page.issues.empty?
      .issues
        %label
          Issues:
        -#= render :partial => 'shared/issue', :collection => page.issues
