- content_for :title do
  = render :partial => 'pages/title'

- asset = @page.data
- if asset.image?
  .section.image.show.display
    = image_tag asset.public_filename(:display)
-elsif asset.audio?
  - content_for :javascript do
    = javascript_include_tag 'anarchy_media/anarchy'
  .section.audio
    Click to play audio file
    .clear
    = link_to( "Download %s" % asset.filename, asset.public_filename)
-else
  .section.document
    this is a document
= render :partial => 'pages/comments'
