%h2
  owners 
.owners
  - @page.collections.each do |owner|
    = link_to owner.name, 'collector_url_for(owner)', :class => 'avatar-tiny', :style => "background-image: url( #{avatar_url(owner.avatar, :size => :tiny)})"

- if logged_in? and current_user.may?(:admin, @page)
  %h2
    policies
  .policies
    - current_user.collections.each do |collection|
      %label{ :for => "policy_#{collection.name}" }
      = check_box_tag "#{collection.name}", 1, collection.includes?(@page), :id => "policy_#{collection.name}"
      / also include javascript code for updates
