- list_options = { :limit => 25, :order => 'created_at DESC' }
%ul.tab-block
  -#.toolbar
    .icon
    .icon
      = link_to 'Subscribe to Updates', "formatted_group_pages_url(source.id, :format => :rss )", :class => 'subscribe action', :title => 'Subscribe to Updates'

  %li
    .tab-title
      Blogs &amp; News
      .toolbar
    %ul.tab-content.list
      = render :partial => 'pages/list/page', :collection => Page.send( *context_finder(source)).page_type(:news, :blog, :wiki ).find(:all, list_options)
  %li
    .tab-title
      Discussions
    %ul#apple.tab-content.list
      = render :partial => 'pages/list/page', :collection => Page.send( *context_finder(source)).page_type(:discussion).find(:all, list_options.merge( :order => 'updated_at DESC' ))
  %li
    .tab-title
      Actions alerts
    %ul.tab-content.list
      = render :partial => 'pages/list/page', :collection => Page.send( *context_finder(source)).page_type(:action_alert).find( :all, list_options )
  %li
    .tab-title
      Events
    %ul.tab-content.list
      = render :partial => 'pages/list/page', :collection => Page.send( *context_finder(source)).page_type( :event).find( :all, list_options )

- load_javascript_tabs

