- list_options = { :limit => 25, :order => 'created_at DESC' }
- blogs_and_news = Page.send( *context_finder(source)).page_type(:news, :blog, :wiki ).find(:all, list_options)
- discussions =    Page.send( *context_finder(source)).page_type(:discussion).find(:all, list_options.merge( :order => 'updated_at DESC' ))
- action_alerts =  Page.send( *context_finder(source)).page_type(:action_alert).find( :all, list_options )
- media =          Page.send( *context_finder(source)).allowed(current_user).page_type(:media).find( :all, list_options )

- if [blogs_and_news, discussions, action_alerts, media].all? {|section| section.empty?}
  - if source.is_a?(User)
    = render :partial => 'people/no_content', :locals => { :source => source }
  - elsif source.is_a?(Group)
    .section.no_content_section 
      .padding
        %p
          No one in this group has added content yet. 
        - if source.members.include? current_user
          %p
            You can 
            = link_to "start sharing", new_group_blog_path( source )
            some Green thoughts, news, art and culture right now.
        - else
          %p
            You can 
            = link_to "join and start sharing", new_group_membership_path( source )
            some Green thoughts, news, art and culture right now.

- else
  %ul.tab-block
    -#.toolbar
      .icon
      .icon
        = link_to 'Subscribe to updates', "formatted_group_pages_url(source.id, :format => :rss )", :class => 'subscribe action', :title => 'Subscribe to updates'

    %li
      .tab-title
        Blogs &amp; News
        .toolbar
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => blogs_and_news
    %li
      .tab-title
        Discussions
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => discussions
    %li
      .tab-title
        Actions alerts
      %ul.tab-content.list
        = render :partial => 'pages/list/page', :collection => action_alerts

      %li
        .tab-title
          Media
        %ul.tab-content.list
          = render :partial => 'pages/list/page', :collection => media
  - load_javascript_tabs

