- content_for :title do
  -#.toolbar.title-menu
    .icon
      = link_to 'Send message', new_message_path, :class => 'action message'
  = icon_for( @me, :size => 'medium' )
  %h1.medium
    Inbox

.landing.inbox
  %ul#inbox-list.tab-block.no-all-block
    %li
      .tab-title
        Received
      %ul.section.plain.tab-content.list
        = render :partial => 'inbox/list/message', :collection => @items_received
    %li
      .tab-title
        Sent
      %ul.section.plain.tab-content.list
        = render :partial => 'inbox/list/message', :collection => @items_sent
    %li
      .tab-title
        Trash
      %ul.section.plain.tab-content.list
        = render :partial => 'inbox/list/message', :collection => @items_ignored

- load_javascript_tabs
