.form
  = hidden_field_tag('parent_id', @parent.id) if @parent
  .titlebox.h1
    .banner.group_info
      Group Info

  %p
    %label{ :for => "group_full_name" }
      Full name
    %span.comment
      A descriptive name used for display.
    = text_field 'group', 'full_name'
  %p
    %label{ :for => "group_name" }
      Link Name
    %span.comment
      This name is how you will refer to this group in links and URLs. It must only contain alphanumeric characters, no spaces allowed.
    = text_field 'group', 'name'
  %p
    %label{ :for => "group_summary" }
      Summary
    %span.comment
      Brief information regarding this group.
    = text_area 'group', 'summary', :rows => 4, :cols => 60

  .titlebox.h1
    .banner.group_privacy
      Group Privacy Settings
  %p.checkbox
    = check_box :group, :publicly_visible_group
    %label{ :for => "group_visible" }
      Make Group Publicly Visible
    %span.comment
      Group appears in public directory and group 
      profile is viewable by non-members at 
      = "#{Crabgrass::Config.host} /yourgroupname."
