- content_for :title do
  = error_messages_for :group 
.with-editor
  .column.form-column.first
    .section
      %p
        = f.label :group_full_name, 'Full name'
        %span.comment
          A descriptive name used on the group's main page. 
        = f.text_field :full_name
      %p
        = f.label :group_name, 'Display name'
        %span.comment
          This name will be used for display, links and URLs.  It may only contain alphanumeric characters.  No spaces allowed. 
        = f.text_field :name
      %p
        = f.label :group_summary,  'Group description'
        %span.comment
          Brief information regarding this group.
        ~ f.text_area :summary, :rows => 8, :cols => 60

  .column.form-column.last
    .section
      .row
        = icon_for @group
        %p
          = f.label :image_file, 'Upload new picture'
          = f.hidden_field :image_file_temp
          %span.comment
            Image will be cropped and stretched to 92 pixels square. 
            %br
            Maximum size is 3MB
          = f.file_field :image_file, :size => 10 
    
    = render :partial => "shared/form/issues", :locals => {:f => f}

- content_for :javascript do
  = jquery_javascript_library
  = javascript_include_tag 'forms'
- content_for :javascript_onload do
  $('group_full_name').focus();
  Crabgrass.Forms.submit_from_menu();

