.group-profile
  = simple_format @group.summary
  - @group.locations.each do |location|
    .group-location
      Location:
      - unless location.city.blank? && location.state.blank?
        %span.locality
          = h(location.city) + ( location.state ? ', ':'')
        %span.region
          = h(location.state)
      %span.country-name
        = location.country_name
  Members:
  = link_to @group.members.count, group_people_url(@group) 
  - unless @group.issues.empty?
    .issues.icon-only
      %label
        Issues:
      = render :partial => 'shared/icons/issue', :collection => group.issues
  - unless @group.tags.empty?
    .tags
      Tags:
      = render :partial => 'shared/tag', :collection => @group.tags
