-#admin menu
- if current_user.may? :admin, group
  .icon
    = link_to "Edit group profile", edit_group_path(group), :class => 'action edit', :title => 'Edit group profile'
  
  .icon
    = link_to "Memberships", group_memberships_path(group), :class => 'action edit', :title => 'Manage group memberships'

-#member menu
- if current_user.member_of? group
  .icon  
    = link_to "Invite members", new_group_invitation_path(group) , :class => 'action invite invite-group', :title => 'Invite New Members'
  .icon
    = link_to "Create page", new_group_page_path(group), :class => 'action create', :title => 'Add a Page'
  .icon
    = link_to "Join chat", group_chat_path( group ), :class => 'action chat' , :title => 'Join Chat'
    
-#public menu
- if logged_in? and !current_user.member_of? group
  .icon
    = link_to "Join Group", new_group_membership_path( group ), :class => 'action join_group', :title => 'Join this group'
