%ul.tabset.top
  %li.tab
    = link_to 'People', group_memberships_url(@group), selected_if( request.url == group_memberships_url(@group))
  %li.tab
    = link_to 'News &amp; Blogs', group_updates_url(@group), selected_if( params[:page_type] == 'updates' )
  %li.tab
    = link_to 'Events &amp; Actions', group_involvements_url(@group), selected_if( params[:page_type] == 'involvements' )
  %li.tab
    = link_to 'Media', group_media_url(@group), selected_if( params[:page_type] == 'media' )
  %li.tab
    = link_to 'Discuss &amp; Organize', group_tools_url(@group), selected_if( params[:page_type] == 'tools' )

