.landing.landing-group
  .group_widget.section.profile
    =render :partial => 'groups/widgets/info'
  .group_widget.section.home
    = render :partial => 'groups/widgets/homepage'
  .group_widget.section.promo
    = render :partial => 'groups/widgets/promo'
  .group_widget.section
    = render :partial => 'groups/widgets/updates'
  .group_widget.section
    = render :partial => 'groups/widgets/discussions'
  .group_widget.section
    = render :partial => 'groups/widgets/files'
