- content_for :title do
  = render :partial => 'title_menu', :locals => { :group => @group }
  = icon_for( @group, :size => 'large' ) 
  %h1
    = @group.name
  .section.info
    = render :partial => 'info', :locals => { :group => @group }

.section.promo
  = render :partial => 'pages/shared/promo',  :locals => {:source => @group }
.section
  = render :partial => 'pages/shared/main',   :locals => {:source => @group }

