- content_for :title do
  = render :partial => 'title_menu', :locals => { :group => @group }
  = icon_for( @group, :size => 'large' ) 
  %h1
    = @group.display_name
  .section.info
    .section.profile
      = render :partial => 'info', :locals => { :group => @group }
    -unless @group.issues.empty?
      .issues.icon-only
        %label Issues:
        = render :partial => 'shared/icons/issue', :collection => @group.issues

.content-list.main
  -#.section.promo
    = render :partial => 'pages/shared/promo',  :locals => {:source => @group }
  .section
    = render :partial => 'pages/shared/main',   :locals => {:source => @group }

