- content_for :title do
  .group-title
    = icon_for( @group, :size => 'large' ) 
    %h1
      = render :partial => 'title_menu', :locals => { :group => @group }
      = @group.name
    =render :partial => 'groups/widgets/info', :locals => { :group => @group }


.landing.landing-group
  .group_widget.section.promo
    = render :partial => 'groups/widgets/promo'
  .group_widget.section
    = render :partial => 'groups/widgets/updates'

