- if logged_in?
  .sidesection
    .sidehead
      actions

    /bookmark page
    - if bookmark = current_user.bookmarked?(@page)
      = link_to_icon 'delete bookmark', 'actions/link_delete.png', bookmark_url(bookmark), :method => :destroy, :class => 'action first'
    - else
      - #= link_to_icon 'bookmark this page', 'actions/link_add.png', new_bookmark_url(@page), :class => 'action'

    /add star
    - if @page.starred_by? user
      = link_to_icon 'remove star', 'actions/star-minus.png', pages_url(@page, :action => 'remove_star'), :method => :post, :class => 'action'
    - else
      = link_to_icon 'add star', 'actions/star-plus.png', pages_url(@page, :action => 'add_star'), :method => :post, :class => 'action'

    /recommend page
    = link_to_icon 'share', 'actions/announce.png', 'new_recommendation_path', :method => :get, :class => 'action'

    /destroy page
    = link_to_icon 'destroy this page', 'actions/trash.png', pages_url(@page, :action => 'destroy'), :method => 'post', :confirm => 'are you sure you want to delete this page?', :class => 'action'

