- content_for :title do
  = error_messages_for :page, :object => [@page, @page.data]

.column.form-column.first
  .section.page-data
    %p
      = f.label 'title', 'Title'
      = f.text_field :title, :size => 45
    %p
      = f.label 'summary', 'Short Description'
      = f.text_area :summary, :size => '45x4'

    - f.fields_for :page_data, @page.data do |ff|
      = render :partial => 'form', :locals => {:f => ff}

.column.form-column.last
  = render :partial => 'pages/form_metadata', :locals => {:f => f}
.clear

- content_for :javascript do
  = javascript_include_tag 'forms'
- content_for :javascript_onload do
  jQ$("#page_title").focus();
  Crabgrass.Forms.submit_from_menu();
