- content_for :title do
  = error_messages_for :page

.section.page-data
  .form-column
    %p
      = f.text_field :title, :size => 30
      = f.label 'title', 'title'
    %p
      = f.text_area :summary, :size => '30x3'
      = f.label 'summary', 'summary'
    - f.fields_for :page_data, @page.data do |ff|
      = render :partial => 'form', :locals => {:f => ff}

  .form-column.wide 
    = render :partial => 'pages/form_metadata', :locals => {:f => f}

- content_for :javascript_onload do
  $("page_title").focus();
