- if logged_in?
  - if current_user.may? :edit, @page 
    .icon
      = link_to 'Edit', edit_tool_page_path(@page), :class => 'action edit', :title => 'Edit'
  - unless current_user.bookmarked_pages.include? @page
    .icon
      = button_to 'Bookmark', page_bookmarks_path(@page), :method => 'post', :class => 'action bookmark', :title => 'Bookmark this page'
  - unless page.starred_by?( current_user )
    .icon
      = button_to 'Add Star', ratings_path(:page_id => page), :class => 'action rate', :title => 'Promote this page'
  .icon
    = link_to 'Recommend', new_page_recommendation_path(@page), :class => 'action recommend', :title => 'Recommend this page to a friend'

  = render :partial => 'tool/event/menu'
