%p
  -#~ f.textile_editor :body, :size => '60x40'
  - unless current_user.preference_for(:html_editor_level)
    #editor-howto.form-help
      %p
        The editor below uses textile to format your work. ( examples: 
        = render :partial => 'tool/wiki/formatting_link'
        )
      %p
        
        = link_to "See a Preview of your work", "#preview", :id => 'note-preview-link'
        or click the checkmark
        = image_tag '/javascripts/markitup/sets/textile/images/preview.png', :alt => "checkmark" 
        below.

      - editor_preference_update = { :preference => { :name => 'html_editor_level', :value => 'markitup' } }
      .toolbar
        = button_to "Stop showing this message", me_preferences_path( editor_preference_update), :class => 'action remove remote'
  ~ f.text_area :body, :size => '60x40'
  = render :partial => 'tool/wiki/formatting_link'
  = f.hidden_field :lock_version

- load_markitup_library
- content_for :javascript_onload do
  jQ$('#editor-howto input.remove').click( function(ev) { 
  ev.preventDefault(); 
  jQ$(ev.target).addClass('busy');
  = "jQ$.post('#{me_preferences_path}', 'authenticity_token=#{form_authenticity_token}&preference[name]=html_editor_level&preference[value]=markitup', function(ev) {"
  = "jQ$('#editor-howto').slideUp(300);  } );"
  } );
  jQ$('#page_page_data_body').markItUp(mySettings);
  jQ$('#editor-howto').show(300); 
  jQ$('#page_page_data_body .markItUpHeader .preview a').click();
