- content_for :title do
  = render :partial => 'pages/title'

- if @page.is_a?( Tool::Repost )
  Republished from
  = @page.data.source
  = link_to "view original", @page.data.source_url, :target => "blank"
  
- article = @page.data
.section.page-content
  -if  @page.primary_image && @page.primary_image.public_filename(:pic) 
    = image_tag  @page.primary_image.public_filename(:pic), { :class => 'picture'}
  - if @page.is_a?( Tool::Repost )
    .section
      = article.body
  - else
    = article.body_html
.clear  

= render :partial => 'pages/comments'

