%ul.tabset.top
  %li.tab
    - selected = ( %w[ dashboard index ].include?(controller.action_name)) ? " selected" : ''  
    = link_to 'Dashboard', 'me/dashboard', :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.controller_name == 'inbox' ) ? ' selected' : ''
    = link_to 'Inbox', 'me/inbox', :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.action_name == 'tasks' )    ? ' selected' : ''
    = link_to 'Tasks', 'me/tasks', :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.action_name == 'search' )   ? ' selected' : ''
    = link_to 'Search', 'me/search', :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.controller_name == 'requests' ) ? ' selected' : ''
    = link_to 'Requests', 'me/requests', :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.action_name == 'edit' )   ? ' selected' : ''
    = link_to 'My Profile', 'me/edit', :class => 'tab-link' + selected

