%ul.tabset.top
  %li.tab
    - selected = ( controller.controller_name == 'inbox' ) ? ' selected' : ''
    = link_to 'Inbox', me_inbox_url, :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.action_name == 'tasks' )    ? ' selected' : ''
    = link_to 'Network', me_network_url , :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.action_name == 'search' )   ? ' selected' : ''
    = link_to 'Content', me_content_url, :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.action_name == 'search' )   ? ' selected' : ''
    = link_to 'Events', me_events_url, :class => 'tab-link' + selected
  %li.tab
    - selected = ( controller.controller_name == 'profile' )   ? ' selected' : ''
    = link_to 'Profile', me_profile_url, :class => 'tab-link' + selected
  -#%li.tab
    - selected = ( controller.controller_name == 'me' and %w[ dashboard index ].include?(controller.action_name)) ? " selected" : ''  
    = link_to 'Dashboard', me_url, :class => 'tab-link' + selected
  -#%li.tab
    - selected = ( controller.controller_name == 'requests' ) ? ' selected' : ''
    = link_to 'Requests', me_requests_url, :class => 'tab-link' + selected
.clear
