- content_for :title do
  = render :partial => 'title_menu'
  = icon_for( @me, :size=> 'large')
  %h1
    = @me.name
  .section.info
    .sectin.profile
      = render :partial => 'info'
    -unless @me.issues.empty?
      .issues.icon-only
        %label My issues:
        = render :partial => 'shared/icons/issue', :collection => @me.issues

.landing
  = render :partial => 'pages/shared/time_segmented_list', :locals => {:pages => @pages} 


