- content_for :title do
  .section
    %h2
      = @me.name
    .section.clear
      .issues.icon-only
        = render :partial => 'shared/icons/issue', :collection => @me.issues
    = render :partial => 'info'
  = render :partial => 'title_menu'

.landing
  = render :partial => 'pages/shared/time_segmented_list', :locals => {:pages => @pages} 


