- content_for :title do
  .toolbar.title-menu
    = render :partial => 'menu'
  = icon_for( @me, :size=> 'large')
  %h1
    = @me.name
  .section.info
    - unless @me.inbox_items.empty?
      You have 
      = @me.inbox_items.size
      items in
      = link_to 'your inbox.', me_inbox_path
      .clear
    -unless @me.issues.empty?
      .issues.icon-only
        %label My issues:
        = render :partial => 'shared/icons/issue', :collection => @me.issues

.landing
  %h2.landing
    In your network
  %ul.row-listing.pages
    = render_network_events(@me.network_events)
