- @posts ||= @page.discussion.posts.paginate(:all, :include => 'ratings', :page => ( params[:posts] || @page.discussion.last_page ), :per_page => @page.discussion.per_page)   
= will_paginate @posts, :param_name => :posts
= render :partial => 'posts/post', :collection => @posts
-if logged_in? and ( @page and current_user.may?( :participate, @page ))
  = render :partial => 'posts/reply'
-if @posts.next_page
  = link_to "Next page", { :posts => @posts.next_page }.merge(params.reject{|k,v| k=="posts"})

= will_paginate @posts, :param_name => :posts     
