%p
  = f.textile_editor :body, :size => '60x40'
  = render :partial => 'tool/wiki/formatting_link'
  = f.hidden_field :lock_version
  
.section
  - f.fields_for :document_meta_data, @page.data.document_meta_data do |ff|
    -#%p.meta
      = ff.label :creator, 'Author'
      = ff.text_field :creator
      = ff.label :creator_url, 'Url'
      = ff.text_field :creator_url, :size => 60
    %p.meta
      = ff.label :source, 'Sponsoring organization'
      = ff.text_field :source
      = ff.label :source_url, 'Off site url where action is posted'
      = ff.text_field :source_url, :size => 60
    %p.meta
      = ff.label :published_at, 'Publication date'
      = ff.date_select :published_at, :order => [:month, :day, :year ]

- content_for :javascript do
  = textile_editor_support
- content_for :javascript_onload do
  TextileEditor.initialize("page_page_data_body", "extended");

