#loginformbox
  - form_tag({:controller => 'account', :action => 'login'}, :id => "loginform") do 
    %p
      = content_tag :label, _("Username"), :for => :login
      = text_field_tag :login
    %p
      = content_tag :label, _("Password"), :for => :password
      = password_field_tag :password
    %p
      = check_box_tag :remember_me
      = content_tag :label, _("Remember Me"), :for => :remember_me
    %p.submit
      = submit_tag _('Log in')
      = hidden_field_tag :redirect, h(params[:redirect] )

  #loginoptions
    %p
      = link_to _('Need a new account?'), { :action => 'signup', :redirect => params[:redirect]}
    %p
      = link_to _('Forgot your password?'), forgot_password_path

- content_for :javascript do 
  = javascript_tag "Form.focusFirstElement('loginform');"
