%p
  = check_box_tag "#{f.object_name}[issue_ids][]", issue.id, f.object.issues.include?( issue  ), :id => "issue_ids[#{issue.id}]"
  %label{html_options_for_icon_for( issue, :size => 'small', :for => "issue_ids[#{issue.id}]")} 
    = issue.name



