.links
  = link_to "Home", "http://greenchange.org", :class => 'first'
  = link_to "Contact us", "http://greenchange.org/form.php?id=57"
  = link_to "About", "http://greenchange.org/section.php?id=3"
  = link_to "Privacy", "http://greenchange.org/privacy"
  = link_to "Terms", "http://greenchange.org/terms"
  = link_to "Credits", "http://greenchange.org/credits"
.clear
