- if logged_in?
  #user-menu
    #top-login-prompt
      = link_to "Logout".t, logout_path
    #login-name
      Hi 
      = link_to current_user.display_name, me_url
      %br
      = image_tag '/images/gc/icons/19_icons/send_message.gif', :align=>"top", :alt=>"Inbox"
      = link_to"(#{current_user.inbox_count})", me_inbox_path  
      - online_contacts_count = current_user.contacts.online.count
      - if online_contacts_count > 0
        = image_tag '/images/gc/icons/19_icons/personal.gif', :align=>"top", :alt=>"Online contacts"
        = link_to"(#{online_contacts_count})", me_people_path, :title => "You have #{online_contacts_count} contacts currently online : #{current_user.contacts.online.map {|c| c.display_name}.join(', ')}"

      - chat_users = ChatChannel.find_or_create_by_name('main').active_channel_users
      - if chat_users.size >= Crabgrass::Config.chat_room_limit
        = image_tag '/images/gc/icons/19_icons/chat_room.gif', :align=>"top", :alt=>"Chat room full"
        = link_to"(chat room full)", chat_path, :title => "#{chat_users.size} people are currently chatting: #{chat_users.map {|c| c.user.display_name}.join(', ')}"
      - elsif chat_users.size > 0
        = image_tag '/images/gc/icons/19_icons/chat_room.gif', :align=>"top", :alt=>"Chat room"
        = link_to"(#{chat_users.size})", chat_path, :title => "#{chat_users.size} people are currently chatting: #{chat_users.map {|c| c.user.display_name}.join(', ')}"

        
- else
  #user-menu
    #top-login-prompt
      = link_to "Login", login_path( :redirect => ( params[:redirect] || request.request_uri ))
    #top-login-form
      - form_tag session_path do
        #top-login-fields
          %p
            %label{ :for => "username" }
              = _("Username")
            = text_field_tag 'login'
          %p
            %label{ :for => "password" }
              = _("Password")
            = password_field_tag 'password'

        #top-login-submit
          %p.toploginoptions
            = link_to "Want to sign up?", new_account_path #:controller => 'account', :action => 'signup'

          %p.submit
            = submit_tag _('Login')
          %p.hidden  
            = hidden_field_tag 'redirect', params[:redirect] || request.request_uri
          - content_for :javascript_onload do
            jQ$('#top-login-form').hide();
            jQ$('#top-login-prompt').click( function(ev) { jQ$('#top-login-form').toggle(); jQ$('#top-login-form :text[name=login]').focus(); jQ$('#top-login-prompt').hide(); return false; } );


