- if logged_in?
  #user-menu
    #top-login-prompt
      = link_to "Logout".t, { :controller => '/account', :action => 'logout'} 
    #login-name
      Hi 
      = link_to current_user.login, me_url
      %br
      = image_tag '/images/gc/icons/19_icons/send_message.gif', :align=>"top", :alt=>"Inbox"
      = link_to"(#{current_user.inbox_items.size})", me_inbox_path  
        
- else
  #user-menu
    #top-login-prompt
      = link_to "Login".t, :controller => '/account', :action => 'login', :redirect => ( params[:redirect] || request.request_uri )
    #top-login-form
      - form_tag :controller => '/account', :action => 'login' do
        #top-login-fields
          %p
            %label{ :for => "username" }
              = _("Username")
            = text_field_tag 'login'
          %p
            %label{ :for => "password" }
              = _("Password")
            = password_field_tag 'password'

        #top-login-submit
          %p.toploginoptions
            = link_to "Want to sign up?", signup_account_url #:controller => 'account', :action => 'signup'

          %p.submit
            = submit_tag _('Login')
          %p.hidden  
            = hidden_field_tag 'redirect', params[:redirect] || request.request_uri
          - content_for :javascript_onload do
            $('top-login-form').hide();
            $('top-login-prompt').observe( 'click', function(ev) { $('top-login-form').toggle(); Field.focus('login'); $('top-login-prompt').hide(); ev.stop(); } );
            -#= javascript_tag "document.observe( 'dom:loaded', function(e) { $('top-login-prompt').observe( 'click', function(ev) { $('top-login-form').toggle(); Field.focus('login'); $('top-login-prompt').hide(); ev.stop(); } ); });"


