- selected = 'class="selected"'
#toprule
  %ul#topmenu
    %li.first
      - selected = ( %w- groups people -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Connect", '/connect', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "People", people_url, :class => 'menu'
        %li
          = link_to "Groups", groups_url, :class => 'menu'
    %li
      - selected = ( %w- issues -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Issues", '/issues', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Justice", 'issues/justice', :class => 'menu'
        %li
          = link_to "Non-Violence", 'issues/nonviolence', :class => 'menu'
        %li
          = link_to "Sustainability", 'issues/sustainability', :class => 'menu'
        %li
          = link_to "Grassroots Democracy", 'issues/democracy', :class => 'menu'

    %li
      - selected = ( controller.action_name == 'new' ) ? ' selected' : ''
      = link_to "Create", '/pages/new', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Posts", '/pages/new?type=post', :class => 'menu'
        %li
          = link_to "Media", '/pages/new?type=media', :class => 'menu'
        %li
          = link_to "Event", '/pages/new?type=event', :class => 'menu'
        %li
          = link_to "Action", '/pages/new?type=action', :class => 'menu'
        %li
          = link_to "Discussion", '/pages/new?type=discussion', :class => 'menu'
        %li
          = link_to "Group", '/groups/new', :class => 'menu'

    %li
      - selected = ( %w- action -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Take Action", '/action', :class => 'menu menu-top' + selected

    %li
      - selected = ( %w- media asset audio video image  -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Media", '/media', :class => 'menu menu-top' + selected

    %li
      - selected = ( %w- news -.include? controller.controller_name) ? ' selected' : ''
      = link_to "News", '/news', :class => 'menu menu-top' + selected

    - if logged_in?
      %li
        - selected = ( %w- inbox me requests -.include? controller.controller_name) ? ' selected' : ''
        = link_to 'My Community', '/me/dashboard', :class => 'menu menu-top' + selected
        %ul
          %li
            = link_to 'Inbox', '/me/inbox', :class => 'menu'
          %li
            = link_to 'Requests', '/me/requests', :class => 'menu'
          %li
            = link_to 'Edit Profile', '/me/edit', :class => 'menu'
      %li
        = link_to "Logout".t, { :controller => '/account', :action => 'logout'}, :class => 'menu menu-top'
      %li
        #top-login-form
          logged in as
          = current_user.display_name
            
    - else
      %li
        #top-login-prompt
          = link_to "Login".t, :controller => '/account', :action => 'login', :redirect => ( params[:redirect] || request.request_uri )
      %li
        #top-login-form
          - form_tag :controller => 'account', :action => 'login' do
            %label{ :for => "username" }
              = _("Username")
            = text_field_tag 'login'
            %label{ :for => "password" }
              = _("Password")
            = password_field_tag 'password'
            = submit_tag _('Log in')
            = hidden_field_tag 'redirect', params[:redirect] || request.request_uri
  .clear
- content_for :javascript do
  = javascript_tag "$('top-login-form').hide();"
  = javascript_tag "document.observe( 'dom:loaded', function(e) { $('top-login-prompt').observe( 'click', function(ev) { $('top-login-form').toggle(); Field.focus('login'); ev.stop(); } ); });"
