- selected = 'class="selected"'
#toprule
  %ul#topmenu
    %li.first
      - selected = ( %w- groups people -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Connect", '/connect', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "People", people_url, :class => 'menu'
        %li
          = link_to "Groups", groups_url, :class => 'menu'
    -#
      %li
        - selected = ( %w- issues -.include? controller.controller_name) ? ' selected' : ''
        = link_to "Issues", '/issues', :class => 'menu menu-top' + selected
        %ul
          %li
            = link_to "Social Justice", 'issues/social-justice', :class => 'menu'
          %li
            = link_to "War and Peace", 'issues/war-and-peace', :class => 'menu'
          %li
            = link_to "Climate Crisis", 'issues/climate-crisis', :class => 'menu'
          %li
            = link_to "Environment", 'issues/environment', :class => 'menu'
          %li
            = link_to "Corporate Power", 'issues/corporate-power', :class => 'menu'
          %li
            = link_to "Economic Justice", 'issues/economic-justice', :class => 'menu'
          %li
            = link_to "Human Rights", 'issues/human-rights', :class => 'menu'
          %li
            = link_to "Politics", 'issues/politics', :class => 'menu'
          %li
            = link_to "Corporate Power", 'issues/corporate-power', :class => 'menu'

    %li

    %li
      - selected = ( controller.action_name == 'new' ) ? ' selected' : ''
      = link_to "Create", '/pages/new', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Posts", '/pages/new?type=post', :class => 'menu'
        %li
          = link_to "Media", '/pages/new?type=media', :class => 'menu'
        %li
          = link_to "Event", '/pages/new?type=event', :class => 'menu'
        %li
          = link_to "Action", '/pages/new?type=action', :class => 'menu'
        %li
          = link_to "Discussion", '/pages/new?type=discussion', :class => 'menu'
        %li
          = link_to "Group", '/groups/new', :class => 'menu'

    %li
      - selected = ( %w- action -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Take Action", '/action', :class => 'menu menu-top' + selected

    %li
      - selected = ( %w- explore -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Explore", '/explore', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Audio", '/pages/new?type=media', :class => 'menu'
        %li
          = link_to "Video", '/pages/new?type=event', :class => 'menu'
        %li
          = link_to "Photos", '/pages/new?type=action', :class => 'menu'
        %li
          = link_to "Issues", '/pages/new?type=event', :class => 'menu'
        %li
          = link_to "Blogs", '/pages/new?type=action', :class => 'menu'
        %li
          = link_to "Discussions", '/pages/new?type=action', :class => 'menu'


    - if logged_in?
      %li
        - selected = ( %w- inbox me requests -.include? controller.controller_name) ? ' selected' : ''
        = link_to 'You', '/me/dashboard', :class => 'menu menu-top' + selected
        %ul
          %li
            = link_to 'Inbox', '/me/inbox', :class => 'menu'
          %li
            = link_to 'Contacts', '/me/contacts', :class => 'menu'
          %li
            = link_to 'Your Content', '/me/pages', :class => 'menu'
          %li
            = link_to 'Groups', '/me/groups', :class => 'menu'
          %li
            = link_to 'Network', '/me/network', :class => 'menu'
          %li
            = link_to 'Profile', '/me/profile', :class => 'menu'
  .clear
