- selected = 'class="selected"'
#toprule
  %ul#topmenu
    %li.first
      = link_to "Home", 'http://greenchange.org', :class => 'menu menu-top' 
    %li
      - selected = ( %w- groups people -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Connect", '/connect', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "People", people_url, :class => 'menu'
        %li
          = link_to "Groups", groups_url, :class => 'menu'
    -#
      %li
        - selected = ( %w- issues -.include? controller.controller_name) ? ' selected' : ''
        = link_to "Issues", '/issues', :class => 'menu menu-top' + selected
        %ul
          %li
            = link_to "Social Justice", 'issues/social-justice', :class => 'menu'
          %li
            = link_to "War and Peace", 'issues/war-and-peace', :class => 'menu'
          %li
            = link_to "Climate Crisis", 'issues/climate-crisis', :class => 'menu'
          %li
            = link_to "Environment", 'issues/environment', :class => 'menu'
          %li
            = link_to "Corporate Power", 'issues/corporate-power', :class => 'menu'
          %li
            = link_to "Economic Justice", 'issues/economic-justice', :class => 'menu'
          %li
            = link_to "Human Rights", 'issues/human-rights', :class => 'menu'
          %li
            = link_to "Politics", 'issues/politics', :class => 'menu'
          %li
            = link_to "Corporate Power", 'issues/corporate-power', :class => 'menu'

    %li

    %li
      - selected = ( controller.action_name =~ /new/ ) ? ' selected' : ''
      = link_to "Create", '/pages/new', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Posts", new_post_menu_path, :class => 'menu'
        %li
          = link_to "Group", new_group_path, :class => 'menu'
        %li
          = link_to "Media", new_media_menu_path, :class => 'menu'
        %li
          = link_to "Event", new_event_path, :class => 'menu'
        %li
          = link_to "Action alert", new_action_url, :class => 'menu'
        %li
          = link_to "Discussion", new_tool_menu_path, :class => 'menu'
        %li
          = link_to "Message", '/messages/new', :class => 'menu'
    %li
      - selected = ( %w- action_alert -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Take Action", '/takeaction', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Action Alerts", actions_url, :class => 'menu'
        %li
          = link_to "Events", events_url, :class => 'menu'


    %li
      - selected = ( %w- explore -.include? controller.controller_name) ? ' selected' : ''
      = link_to "Explore", '/pages', :class => 'menu menu-top' + selected
      %ul
        %li
          = link_to "Issues", issues_url, :class => 'menu'
        %li
          = link_to "Video", videos_url, :class => 'menu'
        %li
          = link_to "Images", photos_url, :class => 'menu'
        %li
          = link_to "Blogs", blogs_url, :class => 'menu'
        %li
          = link_to "News", '/news', :class => 'menu'
        %li
          = link_to "Discussions", new_discussion_url, :class => 'menu'
        %li
          = link_to "Audio", audio_index_path, :class => 'menu'

    - if logged_in?
      %li
        - selected = ( %w- inbox me requests -.include? controller.controller_name) ? ' selected' : ''
        = link_to 'You', me_path, :class => 'menu menu-top' + selected
        %ul
          %li
            = link_to 'Inbox', me_inbox_path, :class => 'menu'
          %li
            = link_to 'Contacts', me_people_url, :class => 'menu'
          %li
            = link_to 'Groups', me_groups_url, :class => 'menu'
          %li
            = link_to 'Your content', me_pages_url, :class => 'menu'
          %li
            = link_to 'Network', me_network_url, :class => 'menu'
          %li
            = link_to 'Profile', me_profile_url, :class => 'menu'
  .clear
