= yield :sidebar_header
- unless controller.controller_name =~ /account/ || controller.action_name == 'new' 
  - if @group
    = render :partial => 'groups/sides/group',  :locals => { :group => @group }
    = render :partial => 'shared/sides/donate'
    = render :partial => 'groups/sides/members',  :locals => { :group => @group }
    = render :partial => 'shared/media',      :locals => { :source => @group }
    = render :partial => 'groups/sides/events'
    = render :partial => 'groups/sides/admin'

  - if @issue
    = render :partial => 'issues/sides/issue',  :locals => { :issue => @isssue }
    = render :partial => 'shared/sides/donate'
    = render :partial => 'shared/sides/featured/people',    :locals => { :source => @issue }
    = render :partial => 'shared/groups_large',             :locals => { :source => @issue }
    = render :partial => 'shared/media',                    :locals => { :source => @issue }

  - if @page && !@page.new_record? && controller.action_name != 'edit'
    = render :partial => 'shared/sides/invite'
    = render :partial => 'shared/sides/donate'
    = render :partial => 'pages/sides/contributors', :locals => { :page => @page }
    = render :partial => 'shared/groups_large', :locals => {:source => @page}
    = render :partial => 'pages/sides/groups', :locals => { :page => @page }
    -#= render :partial => 'pages/sides/access', :locals => { :page => @page }
    = render :partial => 'pages/sides/issues', :locals => { :page => @page }
    = render :partial => 'pages/sides/tags', :locals => { :page => @page }
    -#= render :partial => 'pages/sides/assets', :locals => { :page => @page }

  - if @me 
    = render :partial => 'me/sides/me'
    -#= render :partial => 'me/sides/inbox', :locals => { :source => @me }
    = render :partial => 'shared/sides/invite'
    = render :partial => 'shared/sides/donate'
    = render :partial => 'shared/groups_large',   :locals => { :source => @me }
    = render :partial => 'shared/contacts_large', :locals => { :source => @me }
    = render :partial => 'shared/issues',   :locals => { :source => @me }
  - else
    - if @person
      = render :partial => 'people/sides/person',  :locals => { :person => @person }
      = render :partial => 'shared/sides/donate'
      = render :partial => 'shared/contacts_large',     :locals => { :source => @person }
      = render :partial => 'shared/groups_large',       :locals => { :source => @person }
      = render :partial => 'shared/media',              :locals => { :source => @person }
      -#= render :partial => 'people/sides/top_pages',    :locals => { :source => @person }

  -#- if @tag
    = render :partial => 'shared/sides/donate'
  -#= render :partial => 'shared/groups_large',   :locals => { :source => @tag }
  -#= render :partial => 'shared/media',          :locals => { :source => @tag }

  - unless scoped_by_context?
    = render :partial => 'shared/sides/invite'
    = render :partial => 'shared/sides/donate'
    - if controller.controller_name == 'people' and controller.action_name == 'index'
      = render :partial => 'shared/sides/featured/people', :locals => { :source => nil }
      = render :partial => 'shared/sides/featured/issues'
    - elsif controller.controller_name == 'groups' and controller.action_name == 'index'
      = render :partial => 'shared/sides/featured/groups', :locals => { :source => nil }
      = render :partial => 'shared/sides/featured/issues'
    - else
      = render :partial => 'shared/sides/featured/issues'
      = render :partial => 'shared/sides/featured/people', :locals => { :source => nil }
      = render :partial => 'shared/sides/featured/groups', :locals => { :source => nil }
