.signup_padding
  .signup
    %p
      = content_tag :label, "Desired username", :for => "user_login"
      = f.text_field :login 
      %span.comment
        3-30 characters. No spaces please.
    %p
      = content_tag :label, "Password", :for => "user_password"
      = f.password_field :password
    %p
      = content_tag :label, "Password again", :for => "user_password_confirmation"
      = f.password_field :password_confirmation

    - fields_for :profile, @user.private_profile do |ff|
      %p
        = content_tag :label, "First name", :for => "profile_first_name"
        = ff.text_field :first_name
      %p
        = content_tag :label, "Last name", :for => "profile_last_name"
        = ff.text_field :last_name

    %p
      = content_tag :label, "Email", :for => "user_email"
      = f.text_field :email

    %p.agree
      = check_box_tag :agreed_to_terms, nil, :checked => true
      - link_text = link_to "terms and conditions.", "http://greenchange.org/terms", :target => "blank"
      = content_tag :label, "I agree to the  #{link_text}", :for => "agreed_to_terms"

    %p.preference
      = check_box_tag "user[preferences][subscribe_to_email_list]", 1, ( @user.preference_for(:email_list).nil? ? true : @user.preference_for(:email_list))
      %label{ :for => "user[preferences][subscribe_to_email_list]" }
        Subscribe me to Green Change e-updates
    %p.preference
      = check_box_tag "user[preferences][allow_info_sharing]", 1, ( @user.preference_for(:allow_info_sharing).nil? ? true : @user.preference_for(:allow_info_sharing))
      %label{ :for => "user[preferences][allow_info_sharing]" }
        Share my information with other Green organizations.

    %p.submit
      = submit_tag "Sign up"
      = hidden_field_tag( 'redirect', params[:redirect]) if params[:redirect]


- content_for :javascript do 
  = javascript_tag "document.getElementById('user_login').focus();"

